<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How to use Grunt Wiredep</title>
  <!-- injector:css -->
  <link rel="stylesheet" href="/assets/css/main.css">
  <!-- endinjector -->
    
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
</head>
<body>
    
    <h1>Foot 13</h1>
    
    
  <!-- injector:js -->
  <script src="/assets/js/main.js"></script>
  <!-- endinjector -->       
    
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <!-- endbower -->
</body>
</html>